<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhanghua.databindingstudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.basic.BasicActivity" />
        <activity android:name=".sample.custombinding.CustomBindingActivity" />
        <activity android:name=".sample.include.IncludeActivity" />
        <activity android:name=".sample.collection.CollectionActivity" />
        <activity android:name=".sample.resource.ResourceActivity" />
        <activity android:name=".sample.observable.ObservableActivity" />
        <activity android:name=".sample.viewWithIds.ViewWithIDsActivity" />
        <activity android:name=".sample.viewstub.ViewStubActivity" />
        <activity android:name=".sample.dynamic.DynamicActivity" />
        <activity android:name=".sample.attributesetter.AttributeSettersActivity"></activity>
    </application>

</manifest>